@use "./custom" as *;

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
  }
  .mainHeading {
    color: #732929;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  h5 {
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    line-height: 1.75rem;
  }
}
